{
  "extends": [
    "eslint:recommended", // activate basic eslint rules set
    "airbnb" // active rules set for eslint-config-airbnb package
  ],
  "parserOptions": {
    "ecmaVersion": 6, // enable es2015,
    "sourceType": "module", // ecma modules vs "script" modules
    "ecmaFeatures": {
      "jsx": true // enable JSX
    }
  },
  "rules": {
    "semi": [2, "never"]
  }
}
