{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
  },
  
  "parserOptions": {
      "sourceType": "module"
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "modules": true,
    "spread": true,
    "globalReturn": true,
  },
  rules: {
    "no-console": "off",
  }
}