body, canvas {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Arial;
    user-select: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#fps {
    position: fixed;
    bottom: 10px;
    right: 40px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

#save {
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
    cursor: pointer;
}

#dev {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}